<h1>Verify Your Identity</h1>

<h2>Please enter the pin code you received and click submit:</h2>

<form action="/confirmation" method="post">
  Pin Code: <input type="text" name="pin">
  <input type="submit" value="Submit">
</form>